{#
| Variable   | Type   | Description                                                         |
|------------|--------|---------------------------------------------------------------------|
| component  | object | Contains merchant settings for fields from twilight.json `component` |
| position   | int    | Sorting number start from zero                                      |
#}
{% set component_id = 'project-feature-' ~ position %}
<section class="s-block s-block--project-feature container" id="{{ component_id }}">
    <salla-products-slider
        block-title="{{ component.title|default('') }}"
        slider-id="{{ component_id }}"
        source="latest"
    ></salla-products-slider>
</section>