{% extends "layouts.master" %}

{% block content %}
    <div class="container relative home-content space-y-8">
        {# 
           This loop renders the components defined in twilight.json 
           and configured by the merchant in the Theme Customizer.
        #}
        {% for component in components %}
            <div id="component-{{ component.id }}" class="salla-component {{ component.classes }}">
                {{ component.render|raw }}
            </div>
        {% else %}
            <div class="alert alert-warning">
                No components configured for the home page. Please add components via the Theme Customizer.
            </div>
        {% endfor %}
    </div>
{% endblock %}
